/*-------------MAIN-------------*/
main {
    padding-top: 7em
}

/*-------------DESPLEGABLE MEDIA QUERY-------------*/
.fondo {
    background-color: #EDEDED;
    text-align: center;
    max-width: 300px;
    border-radius: 1em;
    margin: auto;
    height: 42vh;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0px 1px 6px -1px rgb(0 0 0 / 75%);
}
/*-------------DESPLEGABLE MEDIA QUERY-------------*/
.opciones {
    width: 70%;
    box-shadow: 0px 1px 6px -1px rgb(0 0 0 / 75%);
    width: 70%;
    background-color: white;
    padding: .5em;
    margin: .5em;
    border-radius: .5em;
}

/*-------------NAMES-------------*/

.nombres h2 {
    margin-top: 1em
}

.nombres {
    width: 100%;
    margin: auto
}

/*-------------BOTONES-------------*/

#boton {
    display: flex;
    margin: auto;
    flex-wrap: nowrap;
    margin-top: 15px;
    justify-content: space-evenly;
    width: 50%;
}

.botoncancelar {
    background-color: yellow;
    margin: 8px;
    padding: 5px;
    border-radius: 5px;
    transition: all 0.3s ease;
    font-weight: 700;
}
.botonform {
    background-color: var(--color-footerNav);
    color: white;
    margin: 8px;
    padding: 5px;
    border-radius: 5px;
    transition: all 0.3s ease;
    font-weight: 700;
    box-shadow: 0px 1px 6px -1px rgb(0 0 0 / 75%);

}

/*-------------CANCEL-------------*/
.cancelar {
    background-color: #A5A1A7;
    margin: 8px;
    padding: 5px;
    border-radius: 5px;
    transition: all 0.3s ease;
    font-weight: 700;
    box-shadow: 0px 1px 6px -1px rgb(0 0 0 / 75%);
}

