<footer id="footer">
    <article class="info">
        <h5>Información general</h5>
        <a href="#" class="info__cancel">
            <h6> Cancelar una compra</h6>
        </a>
        <a href="#" class="info__frecuentes">
            <h6>Preguntas frecuentes</h6>
        </a>
        <a href="#" class="info__politica">
            <h6>Política de privacidad</h6>
        </a>
    </article>
    <article id="garantia">
        <h5>Garantía</h5>
        <h6>Conoce mas sobre nuestras politicas de garantía</h6>
    </article>
    <article id="seguinos">
        <h5>Seguinos</h5>
        <a href="https://www.facebook.com/SANITARIOSNICUESA" target="_blank" class="facebook"><i
                class="fa-brands fa-facebook"></i></a>
        <a href="https://api.whatsapp.com/send?phone=5491163987256&text=" target="_blank" class="whatsapp"><i
                class="fa-brands fa-whatsapp"></i></a>
        <a href="https://www.instagram.com/sanitariosnicuesa/" target="_blank" class="instagram"><i
                class="fa-brands fa-instagram"></i></a>
        <a href="contacto@sanitariosnicuesa.com.ar" target="_blank" class="mail"><i
                class="fa-solid fa-envelope"></i></a>
    </article>
    <text id="copyright">
        <h6>Copyright @ 2022 realizado por estudio DH</h6>
    </text>
    </nav>
</footer>